<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="content">
        <%= form_for Document.new, remote: true do |f| %>
        <%= f.text_field :title, placeholder: "Create a note.." %><%= f.submit %>
        <% end %>

        <div class="notes">
          <div id="documentform" style="display:none"></div>
          <ul id="documents" data-update-url="<%= sort_documents_url %>">
            <% @documents.each do |document| %>
            <%= content_tag_for :li, document do %>
            <%= render document %>
            <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>